{% extends "base.html" %}

{% block title %}Scheduling Calendar{% endblock %}

{% block styles %}
    <style>
        #calendar{
            height: 100vh;
        }
        .fc-header-toolbar {
            /*
            the calendar will be butting up against the edges,
            but let's scoot in the header's buttons
            */
            padding-top: 1em;
            padding-left: 1em;
            padding-right: 1em;
        }
        .color-square {
            padding: 0;
            width: 25px;
            height: 25px;
            box-sizing: border-box;
        }
        .hidden-time-options{
            opacity: 0;
            visibility: hidden;
            max-height: 0; /* Collapses the div */
            padding-top: 0; /* Collapses the padding */
            padding-bottom: 0; /* Collapses the padding */
            transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
        }
        .show-time-options{
            opacity: 1;
            visibility: visible;
            max-height: 500px; /* A value large enough to contain the content */
            padding-top: 1em; /* You can adjust this padding */
            padding-bottom: 1em; /* You can adjust this padding */
        }
        .is_invalid{
            border-color: red;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
        }
    </style>
{% endblock %}

{% block content %}
    <div class='py-3 bg-light'>
        <h1 class="text-center">Scheduling Calendar</h1>
    </div>

    <div id='calendar'></div>

    <div id="event-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Event</h5>
                </div>
                <div class="modal-body">
                    <form id="event-form" method="POST" action="{{ url_for('projects.schedulingCalendar_page') }}" novalidate>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="event-title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="event-title" required>
                            </div>
                            <div class="mb-3">
                                <label for="event-start-date" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="event-start-date">
                            </div>
                            <div class="mb-3">
                                <label for="event-end-date" class="form-label">End Date</label>
                                <input type="date" class="form-control" id="event-end-date">
                            </div>
                            <button class="btn btn-primary mb-3" id="add-time-btn-modal">
                                <i class="fa-solid fa-clock me-2"></i>Add Time
                            </button>

                            <!-- this is the optional time div that allows users to choose a start time and end time for their event -->
                            <div id="event-time-option" class="hidden-time-options">
                                <div id="event-time-startend-time-options">
                                    <div class="mb-3">
                                        <label for="event-start-time" class="form-label">Start Time</label>
                                        <input type="text" class="form-control time_picker" id="event-start-time" placeholder="Select Start Time">
                                    </div>
                                    <div class="mb-3">
                                        <label for="event-end-time" class="form-label">End Time</label>
                                        <input type="text" class="form-control time_picker" id="event-end-time" placeholder="Select End Time">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input class="form-check-input" type="checkbox" id="event-all-day-checkbox">
                                    <label class="form-check-label" for="event-all-day-checkbox">All Day</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="event-color-picker" class="form-label">Color</label>
                                <input type="color" class="form-control color-square" id="event-color-picker" value="#007bff">
                            </div>
                            <div class="mb-3">
                                <label for="event-description" class="form-label">Description</label>
                                <textarea name="description" id="event-description" rows="2" class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="event-url" class="form-label">URL</label>
                                <input type="text" class="form-control" id="event-url">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal-btn">Close</button>
                            <button type="submit" class="btn btn-primary" id="add-event-btn">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="popover-content" style="display: none;">
        <div class="card bg-light border-0 shadow-sm rounded-3">
            <div class="card-header bg-primary text-white border-0 py-2">
                <h6 class="mb-0">
                    <i class="fas fa-calendar-alt me-2"></i>Event Details
                </h6>
            </div>
            <div class="card-body py-2">
                <div class="mb-2">
                    <small class="text-muted border-bottom border-secondary d-inline-block pb-1" style="width: 100%;"><i class="fas fa-tag me-2"></i>Title</small>
                    <p class="mb-0 text-dark" id="popover-title"></p>
                    <input type="text" class="form-control d-none" id="popover-title-edit">
                </div>

                <div id="popover-all-day-section">
                    <div class="mb-2">
                        <small class="text-muted"><i class="fa-duotone fa-solid fa-calendar-day me-2"></i><strong>All Day Event</strong></small>
                    </div>
                </div>

                <div id="popover-start-end-section">
                    <div class="mb-2">
                        <small class="text-muted border-bottom border-secondary d-inline-block pb-1" style="width: 100%;"><i class="fa-duotone fa-solid fa-clock me-2"></i>Start</small>
                        <p class="mb-0 text-dark" id="popover-start"></p>
                        <input type="date" class="form-control d-none" id="popover-start-date-edit">
                    </div>
                    <div class="mb-2">
                        <small class="text-muted border-bottom border-secondary d-inline-block pb-1" style="width: 100%;"><i class="fa-duotone fa-solid fa-clock me-2"></i>End</small>
                        <p class="mb-0 text-dark" id="popover-end"></p>
                        <input type="date" class="form-control d-none" id="popover-end-date-edit">
                    </div>
                </div>
                
                <div class="mb-2">
                    <small class="text-muted border-bottom border-secondary d-inline-block pb-1" style="width: 100%;"><i class="fas fa-file-alt me-2"></i>Description</small>
                    <p class="mb-0 text-dark" id="popover-description"></p>
                    <textarea class="form-control d-none" id="popover-description-edit"></textarea>
                </div>
            </div>
            <div class="card-footer">
                <div id="popover-edit-delete-footer">
                    <button type="button" class="btn" id="popover-edit-pen-button">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button type="button" class="btn" id="popover-delete-button">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
                
                <button type="button" class="btn d-none" id="popover-edit-save-button">
                    Save Edits
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.19/index.global.min.js"></script>
    <script>
        const startTimePicker = flatpickr('#event-start-time', {
            enableTime: true,
            noCalendar: true,
            dateFormat: 'h:i K',
            time_24hr: false,
            minuteIncrement: 15
        })
        const endTimePicker = flatpickr('#event-end-time', {
            enableTime: true,
            noCalendar: true,
            dateFormat: 'h:i K',
            time_24hr: false,
            minuteIncrement: 15
        })
    </script>
    <script>
        let calendar;
        let currentPopover = null;

        selected_start_date = null;
        selected_end_date = null;

        document.addEventListener('DOMContentLoaded', function() {
            // FullCalendar Configuration
            var calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                customButtons: {
                    addEventButton: {
                        text: 'Add Event',
                        click: function() {
                            if(calendar.view.type === 'dayGridMonth'){
                                if(selected_start_date && selected_end_date){
                                    var myModal = new bootstrap.Modal(document.getElementById('event-modal'));
                                    myModal.show();

                                    document.getElementById('event-start-date').value = selected_start_date
                                    document.getElementById('event-end-date').value = selected_end_date
                                }
                                else{
                                    // will need to change this to a custom modal instead of alert
                                    alert('You need to select a date or date range before attempting to add an event')
                                }
                            }
                            else{
                                alert('You need to be on the Calendar Month view to be able to add an event')
                            }
                        }
                    }
                },
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay addEventButton'
                },
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                selectable: true,
                select: function(info) {
                    var endDate = new Date(info.end);
                    endDate.setDate(endDate.getDate()-1);
                    selected_start_date = info.startStr;
                    selected_end_date = endDate.toISOString().split('T')[0];
                },
                eventClick: function(info){

                    if(currentPopover){
                        if(currentPopoverTarget === info.el){
                            currentPopover.dispose();
                            currentPopover = null;
                            currentPopoverTarget = null;
                            return;
                        } else{
                            currentPopover.dispose();
                            currentPopover = null;

                            const oldPopoverEl = document.querySelector('.popover');
                            if(oldPopoverEl){
                                oldPopoverEl.remove();
                            }
                        }
                    }

                    const popoverTemplate = document.getElementById('popover-content');
                    const tempDiv = popoverTemplate.cloneNode(true);

                    tempDiv.style.display = 'block';

                    const uniqueId = '-' + Date.now();
                    const elementsWithIds = tempDiv.querySelectorAll('[id]');

                    elementsWithIds.forEach(el => {
                        el.id = el.id + uniqueId;
                    })

                    const eventTitle = info.event.title;
                    const eventDescription = info.event.extendedProps.description;
                    const eventStartDate = info.event.start;
                    const eventEndDate = info.event.end;
                    const eventAllDay = info.event.allDay;

                    

                    tempDiv.querySelector('#popover-title' + uniqueId).textContent = eventTitle;
                    tempDiv.querySelector('#popover-description' + uniqueId).textContent = eventDescription;

                    const startEndSection = tempDiv.querySelector('#popover-start-end-section' + uniqueId);
                    const allDaySection = tempDiv.querySelector('#popover-all-day-section' + uniqueId)

                    if(eventAllDay){
                        startEndSection.style.display = 'none';
                    } else{
                        allDaySection.style.display = 'none';
                        tempDiv.querySelector('#popover-start' + uniqueId).textContent = eventStartDate.toLocaleString();
                        if(eventEndDate){
                            tempDiv.querySelector('#popover-end' + uniqueId).textContent = eventEndDate.toLocaleString();
                        } else{
                            tempDiv.querySelector('#popover-end' + uniqueId).textContent = 'No End Date Selected';
                        }
                    }
                    

                    currentPopover = new bootstrap.Popover(info.el, {
                        container: 'body',
                        html: true,
                        content: tempDiv,
                        trigger: 'manual',
                        placement: 'left'
                    })
                    currentPopover.show();
                    currentPopoverTarget = info.el;

                    const popoverElement = document.querySelector('.popover');
                    if(popoverElement){
                        popoverElement.querySelector('#popover-edit-pen-button'  + uniqueId).addEventListener('click', function(){
                            const displayTitle = popoverElement.querySelector('#popover-title' + uniqueId);
                            const editTitle = popoverElement.querySelector('#popover-title-edit' + uniqueId);
                            const displayDescription = popoverElement.querySelector('#popover-description' + uniqueId);
                            const editDescription = popoverElement.querySelector('#popover-description-edit' + uniqueId);
                            const editDeletePopoverFooter = popoverElement.querySelector('#popover-edit-delete-footer' + uniqueId);
                            const saveEditsPopoverFooterButton = popoverElement.querySelector('#popover-edit-save-button' + uniqueId);

                            displayTitle.classList.add('d-none');
                            editTitle.classList.remove('d-none');
                            displayDescription.classList.add('d-none');
                            editDescription.classList.remove('d-none');

                            editDeletePopoverFooter.classList.add('d-none');
                            saveEditsPopoverFooterButton.classList.remove('d-none');

                            editTitle.value = info.event.title;
                            editDescription.value = info.event.extendedProps.description;

                            saveEditsPopoverFooterButton.addEventListener('click', function(){
                                updatedTitle = editTitle.value;
                                updatedDescription = editDescription.value;
                                editedEventID = info.event.id;

                                if(confirm("Are you sure you would like to update this event?")){
                                    fetch(`/projects/schedulingCalendar/update-event/${editedEventID}`, {
                                        method: 'PUT',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify({
                                            title: updatedTitle,
                                            description: updatedDescription
                                        })
                                    })
                                    .then(response => {
                                        if(!response.ok){
                                            throw new Error('Network response was not ok');
                                        }
                                        return response.json();
                                    })
                                    .then(data => {
                                        currentPopover.dispose();
                                        currentPopover = null;
                                        calendar.refetchEvents();
                                    })
                                    .catch(error => {
                                        console.error('Error', error);
                                    })
                                }
                                
                            })
                        })

                        popoverElement.querySelector('#popover-delete-button' + uniqueId).addEventListener('click', function(){
                            if(confirm("Are you sure you want to delete this event?")){
                                const eventId = info.event.id;

                                fetch(`/projects/schedulingCalendar/delete-event/${eventId}`, {
                                    method: 'DELETE',
                                })
                                .then(response => {
                                    if(!response.ok){
                                        throw new Error('Failed to delete event');
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    currentPopover.dispose();
                                    currentPopover = null;

                                    info.event.remove();
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                    alert("An error occurred while deleting the event.");
                                })
                            }
                        })
                    }
                },
                events: {
                    url: '/projects/schedulingCalendar/events',
                    method: 'GET'
                }
            });
            calendar.render();
        });

        const addEventButton_Modal = document.getElementById('add-event-btn');
        const close_Modal_button = document.getElementById('close-modal-btn');
        const eventModalElement = document.getElementById('event-modal');

        const eventForm = document.getElementById('event-form');

        const addTimeButton_Modal = document.getElementById('add-time-btn-modal');
        const eventTimeOptions_Modal = document.getElementById('event-time-option');

        const eventAllDayCheckbox_Modal = document.getElementById('event-all-day-checkbox');
        const eventStartEndTimeOptions_Modal = document.getElementById('event-time-startend-time-options');

        const eventTitle_Modal = document.getElementById('event-title');
        const eventStartDate_Modal = document.getElementById('event-start-date');
        const eventEndDate_Modal = document.getElementById('event-end-date');
        const description_Modal = document.getElementById('event-description')
        const eventColorPicker_Modal = document.getElementById('event-color-picker');
        const eventUrl_Modal = document.getElementById('event-url');
        const eventStartTime_Modal = document.getElementById('event-start-time');
        const eventEndTime_Modal = document.getElementById('event-end-time');

        const requiredInputs = eventForm.querySelectorAll('[required]');

        // runs if users click off of the Adding Event Modal instead of using the close button
        eventModalElement.addEventListener('hide.bs.modal', function(){
            eventForm.reset();
            selected_start_date=null;
            selected_end_date=null;

            addTimeButton_Modal.style.display = '';
            eventTimeOptions_Modal.classList.remove('show-time-options');

            requiredInputs.forEach(input => {
                input.classList.remove('is-invalid')
            })
        });
        // runs if users click on the close button on the Adding Event Modal
        close_Modal_button.addEventListener('click', function(){
            eventForm.reset();
            selected_start_date=null;
            selected_end_date=null;
        });

        function returnStartEndTimes(){
            var startTime = null;
            var endTime = null;
            if(startTimePicker.selectedDates.length > 0){
                startTime = startTimePicker.formatDate(startTimePicker.selectedDates[0], 'h:i K');
            };
            if(endTimePicker.selectedDates.length > 0){
                endTime = endTimePicker.formatDate(endTimePicker.selectedDates[0], 'h:i K');
            };
            return [startTime,endTime]
            
        };

        // runs if users click on the Add Event button within the Modal to check and finalize adding user input to the database
        // MAIN ADD EVENT BUTTON WITHIN MODAL
        eventForm.addEventListener('submit', function(event){
            event.preventDefault();

            let formIsValid = true;

            requiredInputs.forEach(input => {
                if(!input.value){
                    input.classList.add('is-invalid');
                    formIsValid = false;
                } else{
                    input.classList.remove('is-invalid')
                }
            });


            if(formIsValid){

                const eventTitle = eventTitle_Modal.value;
                const eventStartDate = eventStartDate_Modal.value;
                const eventEndDate = eventEndDate_Modal.value;
                const allDay = eventAllDayCheckbox_Modal.checked;
                const description = description_Modal.value;
                const url = eventUrl_Modal.value;
                const color = eventColorPicker_Modal.value;

                const startEndTimes = returnStartEndTimes();
                const startTime = startEndTimes[0] || null;
                const endTime = startEndTimes[1] || null;

                const addEventFormData = {
                    title: eventTitle,
                    start_date: eventStartDate,
                    end_date: eventEndDate,
                    start_time: startTime,
                    end_time: endTime,
                    all_day: allDay,
                    description: description,
                    url: url,
                    color: color
                }

                fetch('/projects/schedulingCalendar', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(addEventFormData)
                })
                .then(response => {
                    if(!response.ok){
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(newEventData => {
                    const modal = bootstrap.Modal.getInstance(eventModalElement);
                    modal.hide();
                    calendar.refetchEvents();
                })
                .catch(error => {
                    console.error('Error:', error)
                });
            }
        });

        eventForm.addEventListener('keydown', function(event){
            if(event.key === 'Enter' && event.target.tagName !== 'TEXTAREA'){
                event.preventDefault();
                eventForm.requestSubmit();
            }
        });

        addTimeButton_Modal.addEventListener('click', function(event){
            event.preventDefault();
            addTimeButton_Modal.style.display = 'none';
            eventTimeOptions_Modal.classList.add('show-time-options');

            if(!eventAllDayCheckbox_Modal.checked){
                eventStartEndTimeOptions_Modal.classList.remove('hidden-time-options')
            }
        });

        eventAllDayCheckbox_Modal.addEventListener('change', function(){
            if(this.checked){
                eventStartEndTimeOptions_Modal.classList.add('hidden-time-options')
                startTimePicker.clear()
                endTimePicker.clear()
            }
            else{
                eventStartEndTimeOptions_Modal.classList.remove('hidden-time-options')
            }
        });

    </script>
{% endblock %}