<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}My Webpage{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block styles %}{% endblock %}
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/contact">Nathanael Spear</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'home' %}active{% endif %}" href="{{ url_for('pages.home_page') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'about' %}active{% endif %}" href="{{ url_for('pages.about_page') }}">About</a>
        </li>
		<li class="nav-item dropdown">
			<a class="nav-link {% if active_page in ['projectOverview', 'project1'] %}active{% endif %} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Projects
			</a>
			<ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item fw-bold" href="{{ url_for('projects.projectOverview_page') }}">Overview</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="{{ url_for('projects.project1_page') }}">Project 1</a></li>
				<li><a class="dropdown-item" href="#">Project 2</a></li>
				<li><a class="dropdown-item" href="#">Project 3</a></li>
			</ul>
		</li>
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'contact' %}active{% endif %}" href="{{ url_for('pages.contact_page') }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}

{% block footerreplace %}
	<!-- Default Footer -->
	<footer class="text-center mt-5 mb-3 text-muted">
    {% block footeraddition %}{% endblock %}
    <br>
	  © 2025 Nathanael Spear
	</footer>
{% endblock %}

<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>